@media (max-width: 990px) {
  .container_row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modern_descriprion {
    margin-bottom: 1.25rem;
  }
  .moderm_logo {
    text-align: center;
  }
  .modern_title {
    text-align: center;
  }
  .modern_line {
    margin: auto;
    padding-top: 1.25rem;
  }
  .modern_text {
    text-align: center;
    margin: auto;
  }
  .modern_download {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social_content {
    margin-bottom: 1rem;
  }
  .tabs_img {
    margin-top: 2rem;
  }
}
@media (max-width: 790px) {
  .tabs_container {
    flex-direction: column;
    align-items: center;
  }
  .tabs_buttons {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .tabs_button {
    margin-right: 1rem;
  }
  .tabs_content {
    text-align: center;
  }
  .tabs_content_title {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
  .tabs_content_text {
    margin-bottom: 1rem;
  }
  .asome_item {
    margin-bottom: 1rem;
  }
  .pricing_row {
    flex-direction: column;
    align-items: center;
  }
  .pricing_cards {
    padding-bottom: 1rem;
  }
  .customers_items {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 690px) {
  .navigator {
  }
  .menu_btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu_btn > span::before {
    content: '';
    top: -8px;
  }
  .menu_btn > span::after {
    content: '';
    top: 8px;
  }
  .navigator {
    display: block;
    position: fixed;
    visibility: hidden;
  }
  .navigator_items {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
  }
  .menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu_toggle:checked ~ .navigator {
    visibility: visible;
    left: 0;
  }
}
@media (max-width: 590px) {
  .modern_title {
    width: 100%;
    font-size: 1rem;
  }
  .form_title {
    display: block;
  }
  .fab {
    padding-bottom: 1rem;
  }
  .contact_text {
    width: 200px;
  }
  .contact_form_items {
    flex-direction: column;
    align-items: center;
  }
  .modern_form {
    width: 100%;
  }
  .modern_buttom_text {
    width: 100%;
  }
  .tabs_buttons {
    flex-direction: column;
    align-items: center;
  }
  .tabs_img {
    width: 100%;
  }
  .pricing_card {
    width: 200px;
  }
}
