.modern {
  max-width: 100%;
  padding: 109px 0;
  background-image: url('/img/background-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.modern::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.container_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px;
}
.modern_logo_ax {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 70px;
  padding-bottom: 32px;
  color: #ffffff;
}
.modern_logo_ax::after {
  content: 'IT';
  color: #ec7979;
  font-size: 3.75rem;
}
.modern_title {
  width: 544px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 42px;
  color: #ffffff;
}
.modern_line {
  max-width: 64px;
  margin-top: 25px;
  margin-right: auto;
}
.modern_line_dec {
  border: none;
  background-color: #ffffff;
  color: #ffffff;
  height: 1px;
}
.modern_text {
  padding-top: 39px;
  padding-bottom: 39px;
  max-width: 250px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  color: #ffffff;
}
.modern_download_text {
  padding: 11px 35px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  text-align: center;

  color: #ffffff;
}
.modern_download_text:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modern_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 370px;
}
.form_items {
  padding: 29px 59px;
}

.form_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #333333;
  text-transform: capitalize;
  margin-bottom: 73px;
}

.form_span {
  white-space: pre-wrap;
  text-transform: uppercase;
  color: #ec7979;
}

.form_item_title {
  display: block;
  padding-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;

  color: #bdbdbd;
}
.form_item_field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 19px;
  outline: none;
}

.modern_buttom_text {
  outline: none;
  background-color: #ec7979;
  border: 0 solid;
  padding: 15px 0;
  width: 370px;
  border-radius: 0 0 8px 8px;
  color: white;
  font-size: 0.938rem;
}
.modern_buttom_text:hover {
  border-radius: 0 0 8px 8px;
  cursor: pointer;
}
