.pricing {
  padding: 80px 0;
  background-color: #e5e5e5;
}
.pricing_title {
  text-align: center;
}
.pricing_line {
  border: none;
  background-color: #e72424;
  color: #e72424;
  height: 1px;
}
.pricing_description {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 63px;
  color: #86878b;
}

.pricing_card {
  width: 340px;
  margin: 0 15px;
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.pricing_card:hover {
  transform: scale(1.2);
}
.pricing_row {
  margin: 76px -15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing_card_title {
  background-color: #333333;
  padding-top: 15px;
  padding-bottom: 9px;
  margin-bottom: 2px;

  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
}

.pricing_price {
  background-color: #333333;
  padding-top: 26px;
  padding-bottom: 33px;
  margin-bottom: 2px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-align: center;

  color: #ffffff;
}

.pricing_descriptoin {
  background-color: #333333;
  padding-top: 17px;
  padding-bottom: 14px;
  margin-bottom: 2px;

  text-align: center;

  color: rgba(255, 255, 255, 0.5);
}
.pricing_content {
  font-size: 14px;
  line-height: 19px;

  text-align: center;

  color: #86878b;
}
.pricing_list_item {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-bottom: 2px;
}
.pricing_list_item:hover {
  background-color: rgb(228, 131, 20);
  cursor: pointer;
  font-size: 24px;
}
.pricing_descriptoin_optima {
  background-color: #d98943;
}
